{% extends 'IntranetMainBundle::layout.html.twig' %}

{% block title %}Index page{% endblock %}

{% block styles %}
	{{ parent() }}
	<link href="{{ asset('bundles/intranet/css/uploadify.css') }}" rel="stylesheet">
{% endblock %}

{% block leftSidebar %}
<!-- .left-sidebar -->
<div style="height:100%">
	<div class="left-sidebar" ng-controller="SprintController" style="background-color:#EBEFF2">
		<div class="sidebar-holder">
			<ul class="nav  nav-list">
				<!-- sidebar to mini Sidebar toggle -->
				<li class="nav-toggle">
                    <button class="btn  btn-nav-toggle text-primary"><i class="fa fa-angle-double-left toggle-left"></i> </button>
				</li>
                {% render(controller('IntranetMainBundle:Topic:getTopicMenuTree')) %}
                {% render(controller('IntranetMainBundle:Office:getOfficeMenuTree')) %}				
			</ul>
			<br>
			<h4 >Sprints &nbsp;
				<a href="#" style="text-decoration: none;" ng-click="addSprint()"><i class="fa fa-plus"></i></a>
			</h4>
			<ul class="nav  nav-list" style="display: block">
				{% render(controller('IntranetMainBundle:Sprint:getSprints')) %}
			</ul>
		</div>
	</div> <!-- /.left-sidebar -->
</div>
{% endblock %}


{% block body %}
<!-- .content -->
<div class="content">
	{% block breadcrumbs %}
	{% endblock %}
	{% block search %}
	{% endblock %}
	{% block pageheader %}
	{% endblock %}
	{% block content %}
	<div class="row">
		<div class="col-md-12" style="margin-top:90px">
			<div class="jumbotron" style="position: absolute;top: 100px;width: 100%;">
				<h1 >Hello, {{ app.user.name }}!</h1>
				<p>We welcome to our service. Here you can chat with other users, create your own private community with its topics for discussion.</p>
			</div>
		</div>
	</div>
	{% endblock %}
				
	<div class="footer" style="position: fixed">
		© 2014 Intranet. All rights reserved.
	</div>
 				
</div> <!-- /.content -->
{% endblock %}

{% block bigFooter %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/intranet/js/custom/sprint.js') }}"></script>
	<script src="{{ asset('bundles/intranet/js/uploadify/jquery.uploadify.min.js') }}"></script>
{% endblock %}

