{% extends 'IntranetMainBundle::layout.html.twig' %}

{% block title %}Home page{% endblock %}

{% block styles %}
	{{ parent() }}
  	<!-- Loading Stylesheets -->    
  	<link href="{{ asset('bundles/intranet/css/font-awesome.css') }}" rel="stylesheet">
	<!-- Loading Less -->
  	<link href="{{ asset('bundles/intranet/less/style.less') }}" rel="stylesheet"  title="lessCss" id="lessCss">
{% endblock %}

{% block body %}
<div class="site-holder">
      <!-- this is a dummy text -->
      <!-- .navbar -->
      <nav class="navbar" role="navigation">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><i class="fa fa-list btn-nav-toggle-responsive text-white"></i></a>
          <a class="navbar-brand" href="{{ path('intranet_main_homepage') }}"><span class="logo">Int<strong>ra</strong>net <i class="fa fa-bookmark"></i></span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav user-menu navbar-right ">

            <li><a href="#" class="user dropdown-toggle" data-toggle="dropdown"><span class="username"><img src="{{ asset('bundles/intranet/images/profiles/' ~ app.user.avatar) }}" class="user-avatar" alt="">  {{ app.user.name ~ ' ' ~ app.user.surname }} </span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-user"></i> My Profile</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i> Inbox</a></li>
                <li><a href="#"><i class="fa fa-cogs"></i> Settings</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('intranet_security_logout') }}" class="text-danger"><i class="fa fa-lock"></i> Logout</a></li>
              </ul>
              {% if app.user.notifications|length>0 %}
              <li><a href="#" class="settings dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell animated shake"></i><span class="badge bg-success">{{ app.user.notifications|length }}</span></a>
                  <ul class="dropdown-menu notifications">
                    {% for notification in app.user.notifications|slice(0, 10)%}
                    <li>
                      <a
                        {% if notification.type=='membership_own' %}
                        href="{{ url('intranet_show_office', {office_id: notification.destinationid}) }}"
                        class="text-success">
                        <i class="fa noty-icon fa-user bg-success"></i> 
                        {% elseif notification.type=='membership_own_out' %}
                        href="{{ url('intranet_show_office', {office_id: notification.destinationid}) }}"
                        class="text-danger">
                        <i class="fa noty-icon fa-user bg-danger"></i> 
                        {% elseif notification.type=='membership_user' %}
                        href="{{ url('intranet_show_office', {office_id: notification.destinationid}) }}"
                        class="text-warning">
                        {% elseif notification.type=='membership_user_out' %}
                        href="{{ url('intranet_show_office', {office_id: notification.destinationid}) }}"
                        class="text-danger">
                        <i class="fa noty-icon fa-user bg-danger"></i> 
                        {% elseif notification.type=='message_office' %}
                        href="{{ url('intranet_show_office', {office_id: notification.destinationid}) }}">
                        <i class="fa noty-icon fa-comment bg-primary"></i> 
						{% elseif notification.type=='message_topic' %}
						href="{{ url('intranet_show_topic', {topic_id: notification.destinationid}) }}"
						class="text-info">
						<i class="fa noty-icon fa-comment bg-info"></i> 
						{% elseif notification.type=='removed_office' %}
						href="{{ url('intranet_show_office', {office_id: notification.destinationid}) }}" 
						class="text-danger">
						<i class="fa noty-icon fa-exclamation bg-danger"></i> 
						{% elseif notification.type=='removed_topic' %}
						href="{{ url('intranet_show_topic', {topic_id: notification.destinationid}) }}" 
						class="text-danger">
						<i class="fa noty-icon fa-exclamation bg-danger"></i> 
						{% elseif notification.type=='topic_added' %}
						href="{{ url('intranet_show_topic', {topic_id: notification.destinationid}) }}" 
						class="text-success">
						<i class="fa noty-icon fa-comment bg-success"></i>
                        {% endif %}
                        <span class="description">{{ notification.message }}</span>
                        <span class="time"> <i class="fa fa-clock-o"></i>  {{ notification.activated|date('d/m/y H:i:s') }}</span>
                      </a>
                    </li>
                    {% endfor %}
                    <li><a href="{{ url('intranet_notifications_show') }}" class="btn bg-primary">View All</a></li>
                  </ul>
                </li>
                {% endif %}
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </nav> <!-- /.navbar -->

          <!-- .box-holder -->
          <div class="box-holder">

            <!-- .left-sidebar -->
            <div class="left-sidebar">
              <div class="sidebar-holder">
                <ul class="nav  nav-list">

                  <!-- sidebar to mini Sidebar toggle -->
                  <li class="nav-toggle">
                    <button class="btn  btn-nav-toggle text-primary"><i class="fa fa-angle-double-left toggle-left"></i> </button>
                  </li>
                    {% render(controller('IntranetMainBundle:Topic:getTopicMenuTree')) %}
                  	{% render(controller('IntranetMainBundle:Office:getOfficeMenuTree')) %}
                </ul>
              </div>
            </div> <!-- /.left-sidebar -->

            <!-- .content -->
            <div class="content">
  						<div class="row">
  							<div class="col-mod-12">
  								{% block breadcrumbs %}
  								{% endblock %}
  								{% block search %}
  								{% endblock %}
  								{% block pageheader %}
  								{% endblock %}
  							</div>
  						</div>

						{% block content %}
						<div class="row">
							<div class="col-md-12">
								<div class="jumbotron">
									<h1>Hello, {{ app.user.name }}!</h1>
									<p>We welcome to our service. Here you can chat with other users, create your own private community with its topics for discussion.</p>
								</div>
							</div>
						</div>
						{% endblock %}

  						<div class="footer">
  							© 2014 Intranet. All rights reserved.
  						</div>

  					</div> <!-- /.content -->
		  </div>  <!-- /.right-sidebar -->


</div> <!-- /.box-holder -->
</div><!-- /.site-holder -->
{% endblock %}
{% block javascripts %}
{{ parent() }}

<script src="{{ asset('bundles/intranet/js/less-1.5.0.min.js') }}"></script>

<script src="{{ asset('bundles/intranet/js/bic_calendar.js') }}"></script>
<script src="{{ asset('bundles/intranet/js/jquery.accordion.js') }}"></script>
<script src="{{ asset('bundles/intranet/js/failsafe.js') }}"></script>

<script src="{{ asset('bundles/intranet/js/theme-options.js') }}"></script>

<script src="{{ asset('bundles/intranet/js/bootstrap-progressbar.js') }}"></script>
<script src="{{ asset('bundles/intranet/js/bootstrap-progressbar-custom.js') }}"></script>
<script src="{{ asset('bundles/intranet/js/bootstrap-colorpicker.min.js') }}"></script>
<script src="{{ asset('bundles/intranet/js/bootstrap-colorpicker-custom.js') }}"></script>

<script src="{{ asset('bundles/intranet/js/raphael-min.js') }}"></script>
<script src="{{ asset('bundles/intranet/js/morris-0.4.3.min.js') }}"></script>
<script src="{{ asset('bundles/intranet/js/morris-custom.js') }}"></script>

<script src="{{ asset('bundles/intranet/js/charts/jquery.sparkline.min.js') }}"></script>	

<!-- NVD3 graphs  =============================-->
<script src="{{ asset('bundles/intranet/js/nvd3/lib/d3.v3.js') }}"></script>
<script src="{{ asset('bundles/intranet/js/nvd3/nv.d3.js') }}"></script>
<script src="{{ asset('bundles/intranet/js/nvd3/src/models/legend.js') }}"></script>
<script src="{{ asset('bundles/intranet/js/nvd3/src/models/pie.js') }}"></script>
<script src="{{ asset('bundles/intranet/js/nvd3/src/models/pieChart.js') }}"></script>
<script src="{{ asset('bundles/intranet/js/nvd3/src/utils.js') }}"></script>
<script src="{{ asset('bundles/intranet/js/nvd3/sample.nvd3.js') }}"></script>

<!-- Core Jquery File  =============================-->
<script src="{{ asset('bundles/intranet/js/core.js') }}"></script>
<script src="{{ asset('bundles/intranet/js/dashboard-custom.js') }}"></script>
{% endblock %}

