{% extends 'IntranetMainBundle:Index:index.html.twig' %}

{% block title %}{{ section.name }}{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ path('intranet_main_homepage') }}">Intranet</a></li>
<li class="active">{{ section.name }}</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
{% for topic in section.topics %}
		<div class="panel panel-primary"> 
    		<div class="panel-heading">
     			<h3 class="panel-title  text-white">{{ topic.name }}
      				<span class="pull-right">
       					<a href="#" class="panel-minimize"><i class="fa fa-chevron-down text-white"></i></a>
     				</span>
   				</h3>
 			</div>
 			<div class="panel-body" style="display:none;">
   				<p>{{ topic.description }}</p>
   				<a href="{{ path('intranet_show_topic', {topic_id: topic.id}) }}" class="btn btn-primary btn-sm btn-animate-demo">discuss now</a>
 			</div>
		</div> <!-- / Primary Panel -->
{% endfor %}
	</div>
</div>
{% endblock %}

