{% extends 'IntranetMainBundle:Index:index.html.twig' %}

{% block title %}Document{% endblock %}

{% block styles %}
	{{ parent() }}
	<link href="{{ asset('bundles/intranet/css/uploadify.css') }}" rel="stylesheet">
{% endblock %}



{% block breadcrumbs %}
<ul class="breadcrumb">
	<li class="active">Document</li>
</ul>
{% endblock %}

{% block pageheader %}   
<div class="row">
	<div class="col-md-12">
		<h3 class="page-header"><i class="fa fa-file-text"></i> Document  <i class="fa fa-info-circle animated bounceInDown show-info"></i> </h3>

		<blockquote class="page-information hidden">
		<p>
			On this page you can upload files...
		</p>
		</blockquote>
	</div>
</div>
{% endblock %}
{% block content %}
<div class="panel panel-cascade">
			<div class="panel-body">
				<h4>Available types: <b>{{ availableTypes }}</b></h4>
           		<input type="file" name="file_upload" id="file_upload" />
			</div>
</div>        	      
                
<div class="panel panel-cascade">
			<div class="panel-body" ng-controller="DocumentsController">
				<div class="row demo-images">
	                <div class="col-sm-6 col-md-3" ng-repeat="document in documents">
	                	[[ document.name ]]
		                <a href="{{ app.request.getBaseURL() }}/../[[ document.url ]]" class="thumbnail">
		                	<img alt="[[ document.name ]]" src="{{ app.request.getBaseURL() }}/../[[ document.url ]]">
		                </a>
	                </div>
                </div>
		  	</div>
</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}  
	<script src="{{ asset('bundles/intranet/js/uploadify/jquery.uploadify.min.js') }}"></script>
	<script src="{{ asset('bundles/intranet/js/custom/documents.js') }}"></script>
	<script>
	JSON_URLS.documentsGet = "{{ path('intranet_document_get') }}";
	JSON_URLS.uploaderSWF = '../../bundles/intranet/swf/uploadify.swf';
	JSON_URLS.uploaderUpload = "{{ path('intranet_document_upload') }}";
	var TIMESTAMP = '{{ timestamp }}';
	var TOKEN = '{{ token }}';
	</script>
{% endblock %}
