{% extends 'IntranetMainBundle:Index:index.html.twig' %}

{% block title %}Document{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
	<li class="active">Document</li>
</ul>
{% endblock %}

{% block pageheader %}   
<div class="row">
	<div class="col-md-12">
		<h3 class="page-header"><i class="fa fa-file-text"></i> Document  <i class="fa fa-info-circle animated bounceInDown show-info"></i> </h3>

		<blockquote class="page-information hidden">
		<p>
			On this page you can upload files...
		</p>
		</blockquote>
	</div>
</div>
{% endblock %}
{% block content %}
<div class="panel panel-cascade">
			<div class="panel-body">
				<form enctype="multipart/form-data" action="{{ path('intranet_document') }}" method="POST">
					<div class="form-group">
						<label for="exampleInputFile">Upload file</label>
						<input name="userfile" type="file" required="required" id="exampleInputFile">
						<br/>
						<input type="submit" value="Send File" />
					</div>
				</form>
			</div>
</div>
	        	
                
                
<div class="panel panel-cascade">
			<div class="panel-body">
				<div class="row demo-images">
	                {% for document in documents %}
	                <div class="col-sm-6 col-md-3">
	                	{{ document.getName() }}
		                <a href="{{ app.request.getBaseURL() }}/../{{ document.getWebPath() }}" class="thumbnail">
		                	<img alt="{{ document.getName() }}" src="{{ app.request.getBaseURL() }}/../{{ document.getWebPath() }}">
		                </a>
	                </div>
	                {% endfor %}
                </div>
		  	</div>
</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	
{% endblock %}
