{% extends 'IntranetMainBundle:Index:index.html.twig' %}

{% block title %}{{ topic.name }}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
	{% if activeSection == 'office' %}
	<li><a href="{{ url('intranet_show_office', {office_id: office.getId()}) }}">{{ office.name }}</a></li>
	{% endif %}
	{% for item in breadcrumbs %}
		<li><a href="{{ url('intranet_show_topic', {topic_id: item.getId()}) }}">{{ item.name }}</a></li>
	{% endfor %}
	<li class="active">{{ topic.name }}</li>
</ul>
{% endblock %}

{% block search %}
<div class="form-group hiddn-minibar pull-right">
	<input type="text" class="form-control form-cascade-control nav-input-search" size="20" placeholder="Search through discussion" />

	<span class="input-icon fui-search"></span>
</div>
{% endblock %}

{% block pageheader %}
<div class="row">
	<div class="col-md-12">
		<h3 class="page-header"><i class="fa fa-comment"></i> {{ topic.name }} <i class="fa fa-info-circle animated bounceInDown show-info"></i> {% if (topic.getUserid() != 0 and (is_granted('ROLE_ADMIN') or topic.getUserid() == app.user.getId())) %}<i class="fa fa-times-circle animated bounceInDown show-danger"></i>{% endif %} </h3>

		<blockquote class="page-information hidden">
		<p>
			{{ topic.description }}
		</p>
		</blockquote>
		{% if (topic.getUserid() != 0 and (is_granted('ROLE_ADMIN') or topic.getUserid() == app.user.getId())) %}
		<blockquote class="page-danger-zone hidden">
		<p>
			If you really want to delete this topic please click <a href="{{ url('intranet_delete_topic', {'topic_id': topic.getId()}) }}">here</a> (can't be rollback!)
		</p>
		</blockquote>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block content %}
<div class="row chat-box" ng-app="Intranet" ng-controller="ChatController">
  							<div class="col-md-2">
  								<div class="panel panel-cascade contacts-box">
  									<div class="panel-heading">
  										<h5 class="panel-title "> <i class="fa fa-user"></i> Members</h5>
  									</div>
  									<div class="panel-body nopadding">
  										<div class="list-group contact">
  											<a class="list-group-item" ng-repeat="member in members">
  												<img src="[[avatarURL + member.avatar]]" class="chat-user-avatar" alt="">
  												[[member.username]]
  												<!-- <i class="fa fa-circle"></i> -->
  											</a>
  										</div>
  									</div>
  								</div>

  							</div>
  							
  							
  							<div class="col-md-10">
  								<div class="panel panel-cascade recipient-box">
									<div class="panel-body nopadding">
										<div class="row">
											<div class="col-md-8">
												<ul class="pagination" style="margin-left: 5px;">
													<li ng-class="{disabled: paginator.curPageId == 1}"><a href="#" ng-click="paginator.firstPage($event)">first</a></li>
													<li ng-class="{disabled: paginator.curPageId == 1}"><a href="#" ng-click="paginator.prevPage($event)">«</a></li>
													<li ng-class="{active: paginator.curPageId == item }" ng-repeat="item in paginator.pages"><a href="#" ng-click="paginator.toPage($event, item)">[[item]]</a></li>
													<li ng-class="{disabled: paginator.curPageId == paginator.countPages}"><a href="#" ng-click="paginator.nextPage($event)">&raquo;</a>
													<li ng-class="{disabled: paginator.curPageId == paginator.countPages}"><a href="#" ng-click="paginator.lastPage($event)">last</a></li></li>
												</ul>
											</div>
											
											<div class="col-md-4" style="margin: 20px 0;">
												  <label for="inputEmail1" class="col-lg-5 col-md-3 control-label" style="margin-top: 7px;">Messages/Page</label>
												  <div class="col-lg-5 col-md-9">
												   <select class="form-control" ng-model="postsPerPage" ng-change="changePostsPerPage()">
												   	<option ng-repeat="item in paginator.postsPerPageValues">[[item]]</option>
												  </select>
												</div>
											</div>
											
										</div>
									</div>
									
  									<div class="panel-body nopadding">
  										<div class="list-group conversation">
  											<a class="list-group-item" ng-repeat="post in posts">
  												<img src="[[avatarURL + post.user.avatar]]" class="chat-user-avatar" alt="" />
  												<span class="username" >[[post.user.name + ' ' + post.user.surname]] ([[post.user.username]])<span class="time">[[ post.posted.date ]]</span> </span>
  												<i class="fa fa-edit" ng-show="post.edited"></i>
  												<p style="white-space: pre-line;" ng-class="{editable:isEditable(post)}" ng-click="editPost(post)">[[post.message]]</p>
  											</a>
  										</div>
  										<div class="input-group">
  											<textarea style="resize:vertical;" class="form-control write-message" ng-class="{editing: editingPost}" id="write-message" placeholder="Type something here and hit enter" ng-model="message" ng-keypress="pressEnter($event)"></textarea>
  											<span class="input-group-btn">
  												<button class="btn text-white bg-primary send-message" type="button" id="send-message" ng-click="sendPost()">Send</button>
  											</span>

  										</div><!-- /input-group -->
  									</div>
  								</div>
  							</div>
  						</div>
  						
 <div class="row">
	<div class="col-md-12">
		{% if subtopics|length > 0 %}
		<div class="panel panel-cascade">
			<div class="panel-heading">
                <h3 class="panel-title">
                	<span>
                    	<a href="#" class="panel-minimize">Subtopics</a>
                    </span>  
                </h3>
            </div>
            <div class="panel-body" style="display:none;">
            	{% for topic in subtopics %}
            		<a href="{{ url('intranet_show_topic', {topic_id: topic.getId()}) }}" class="btn btn-primary btn-block">{{ topic.name }} ({{ topic.getOffice().name }})</a>
            	{% endfor %}
            	
            </div>
		</div>
		{% endif %}
		<div class="panel panel-cascade">
			<div class="panel-heading">
                <h3 class="panel-title">
                	<span>
                    	<a href="#" class="panel-minimize">Add New Subtopic</a>
                    </span>  
                </h3>
            </div>
            <div class="panel-body" style="{% if errorTopic is defined %}{{ 'display:block;' }}{% else %}{{ 'display:none;' }}{% endif %}">
            	<form action="{{ url('intranet_add_topic', {topic_id: topic.getId()}) }}" class="form-horizontal" role="form" method="post">
            		<div class="form-group">
                		<label for="inputEmail1" class="col-lg-2 col-md-3 control-label">Topic Name</label>
                		<div class="col-lg-10 col-md-9">
                 			<input type="text" name="name" class="form-control form-cascade-control" id="inputEmail1" placeholder="Type topic name here" value="{% if nameTopic is defined %}{{ nameTopic }}{% endif %}" required>
               			</div>
             		</div>
             		<div class="form-group">
                		<label for="inputEmail1" class="col-lg-2 col-md-3 control-label">Topic Description</label>
                		<div class="col-lg-10 col-md-9">
                 			<input type="text" name="description" class="form-control form-cascade-control" id="inputEmail1" placeholder="Type topic description here" value="{% if descriptionTopic is defined %}{{ descriptionTopic }}{% endif %}" required>
               			</div>
             		</div>
             		<input type="hidden" value="{{ topic.getOfficeid() }}" name="officeid" />
             		{% if errorTopic is defined %}
             		<div class="alert alert-danger">
               			{{ errorTopic }}
             		</div>
             		{% endif %}
             		<div class="form-actions">
             			<input type="submit" value="Save New Topic" class="btn bg-primary btn-block text-white">
             		</div>
            	</form>
            </div>
		</div>
		
		<div class="panel panel-cascade">
			<div class="panel-heading">
                <h3 class="panel-title">
                	<span>
                    	<a href="#" class="panel-minimize"><i class="fa fa-pencil-square"></i> Tasks of this topic</a>
                    </span> 
                    <button type="button" href="{{ url('intranet_task_add', {office_id: topic.getOffice().getId()}) }}" class="btn btn-success popup"><i class="fa fa-plus-circle"></i></button>
                </h3>
            </div>
            <div class="panel-body">
	          <table class="table users-table table-condensed table-hover" >
	           <thead>
	           		<tr>
			             <th  class="visible-lg">#</th>
			             <th  class="visible-lg">Name</th>
			             <th class="visible-lg">Status</th>
			             <th class="visible-lg">Priority</th>
			             <th class="visible-lg">StartDate</th>
			             <th class="visible-lg">EndDate</th>
			             <th class="visible-lg">Users</th>
			             <th class="visible-lg">Topics</th>
			             <th>&nbsp;</th>
	           		</tr>
	           </thead>
	           <tbody>
	           {% for task in tasks %}
	           <tr>
			   		<td class="visible-lg">{{ loop.index }}</td>
		            <td class="visible-lg">{{ task.name }}</td>
		            <td class="visible-lg">
		            {% if task.status == 'pending' %}
		            <label class="label label-default">Pending</label>
		            {% elseif task.status == 'opened' %}
		            <label class="label label-danger">Opened</label>
		            {% elseif task.status == 're-opened' %}
		            <label class="label label-warning">Re-opened</label>
		            {% elseif task.status == 'in-progress' %}
		            <label class="label label-primary">In-progress</label>
		            {% elseif task.status == 'resolved' %}
		            <label class="label label-success">Resolved</label>
		            {% elseif task.status == 'testing' %}
		            <label class="label label-info">Testing</label>
		            {% elseif task.status == 'closed' %}
		            <label class="label label-dark">Closed</label>
		            {% endif %}
		            </td>
		            <td class="visible-lg">
		            {% if task.priority == 'high' %}
		            <label class="label label-danger">High</label>
		            {% elseif task.priority == 'medium' %}
		            <label class="label label-warning">Medium</label>
		            {% else %}
		            <label class="label label-success">Low</label>
		            {% endif %}
		            </td>
		            <td class="visible-lg">{% if task.startdate != null %}{{ task.startdate|date('d/m/y H:i:s') }}{% else %}{{ '-' }}{% endif %}</td>
		            <td class="visible-lg">{% if task.enddate != null %}{{ task.enddate|date('d/m/y H:i:s') }}{% else %}{{ '-' }}{% endif %}</td>
		            <td class="visible-lg">
		            {% if task.users|length>0 %}
		            <select class="form-control">
		            {% for user in task.users %}
					    <option>{{ user.surname ~ ' ' ~ user.name }}</option>
					{% endfor %}
					</select>
					{% else %}
					{{ '-' }}
					{% endif %}
		            </td>
		            <td class="visible-lg" id="topic-urls">
		            {% if task.topics|length>0 %}
		            <select class="form-control" id="topic-urls">
					{% for topic in task.topics %}
					    <option value="{{ topic.getId() }}" href="{{ url('intranet_show_topic', {topic_id: topic.getId()}) }}">{{ topic.name }}</option>
					{% endfor %}
					</select>
					{% else %}
					{{ '-' }}
					{% endif %}
		            </td>
		            <td>
		             {% if is_granted('ROLE_ADMIN') or topic.getOffice().getUserid() == app.user.getId() or task.hasUser(app.user) %}
		             <button type="button" href="{{ url('intranet_task_edit', {office_id: office.getId(), task_id: task.id}) }}" class="btn btn-warning popup"><i class="fa fa-edit"></i></button>
		             <button type="button" href="{{ url('intranet_task_remove', {office_id: office.getId(), task_id: task.id}) }}" class="btn btn-danger remove"><i class="fa fa-trash-o"></i></button>
		             {% endif %}
		             <button type="button" class="btn btn-info topic-urls"><i class="fa fa-comment"></i></button>
		            </td>
	           </tr>
	           {% endfor %}
			  </tbody>
			</table>
		  </div>
		</div>
		
	</div>
 </div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/intranet/js/angular.min.js') }}"></script>
	<script src="{{ asset('bundles/intranet/js/underscore-min.js') }}"></script>
	<script src="{{ asset('bundles/intranet/js/custom/angular-core.js') }}"></script>
	<script src="{{ asset('bundles/intranet/js/custom/chat.js') }}"></script>
	<script src="{{ asset('bundles/intranet/js/jquery.bpopup.min.js') }}"></script>
	
	<script type="text/javascript">
    var JSON_URLS = {
        posts: "{{ path('intranet_post_topic_get_posts', {topic_id: topic.id}) }}",
        post_add: "{{ path('intranet_post_topic_add_post', {topic_id: topic.id}) }}", 
        avatar: "{{ asset('bundles/intranet/images/profiles/') }}",
        members: "{{ path('intranet_topic_members', {topic_id: topic.id}) }}",
        posts_new: "{{ path('intranet_post_topic_new', {topic_id: topic.id}) }}",
        post_count: "{{ path('intranet_post_topic_count', {topic_id: topic.id}) }}"
    };

    var USER = {
    	    id: "{{ app.user.getId() }}"
   	};

   	var ENTITY = {
   		   	id: "{{ topic.id }}"
    };
	</script>
	<script type="text/javascript">
	$(".popup").click(function(){
		var url = $(this).attr('href');
		$.ajax({
			  url: url,
			  data: {backUrl: '{{ app.request.uri }}'}
		}).success(function(resp) {
			  $(".content").append(resp);
			  $('#popup').bPopup({
				    position: [window.innerWidth/2 - 250, 100],
				    easing: 'easeOutBack',
			        speed: 800,
			        transition: 'slideDown',
			        onClose: function(){
			        	$("#popup").remove();
					}
			  });
		});
	});

	$(".remove").click(function(){
		var url = $(this).attr('href');
		url = url + '?backUrl=' + '{{ app.request.uri }}';
		var answer = confirm("Realy want to remove?");
		if (answer) window.location.href = url;
	});

	$(".topic-urls").click(function(){
		var url = $(this).parent().parent().find("td#topic-urls select option:selected").attr('href');
		window.location.href = url; 
	});
	</script>
{% endblock %}
