{% extends 'IntranetMainBundle:Index:index.html.twig' %}

{% block title %}{{ topic.name }}{% endblock %}

{% block breadcrumbs %}
<div class="row">
	<div class="col-md-12">
		<ul class="breadcrumb">
			{% if activeSection == 'office' %}
			<li><a href="{{ url('intranet_show_office', {office_id: office.getId()}) }}">{{ office.name }}</a></li>
			{% endif %}
			{% for item in breadcrumbs %}
				<li><a href="{{ url('intranet_show_topic', {topic_id: item.getId()}) }}">{{ item.name }}</a></li>
			{% endfor %}
			<li class="active">{{ topic.name }}</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block pageheader %}
<div class="row">
	<div class="col-md-12 ">
	<div class="panel">
		<h3 class="page-header"><i class="fa fa-comment"></i> {{ topic.name }}{% if (topic.getUserid() != 0 and (is_granted('ROLE_ADMIN') or topic.getUserid() == app.user.getId())) %} ({{ topic.status }}){% endif %} <i class="fa fa-info-circle animated bounceInDown show-info"></i> {% if (topic.getUserid() != 0 and (is_granted('ROLE_ADMIN') or topic.getUserid() == app.user.getId())) %}<i class="fa fa-times-circle animated bounceInDown show-danger"></i> {% if topic.status == 'opened' %}<i class="fa fa-lock animated bounceInDown show-lock"></i>{% elseif topic.status == 'closed'%}<i class="fa fa-unlock animated bounceInDown show-lock"></i>{% endif %}{% endif %} </h3>

		<blockquote class="page-information hidden">
		<p>
			{{ topic.description }}
		</p>
		</blockquote>
		{% if (topic.getUserid() != 0 and (is_granted('ROLE_ADMIN') or topic.getUserid() == app.user.getId())) %}
		<blockquote class="page-danger-zone hidden">
		<p>
			If you really want to DELETE this topic please click <a href="{{ url('intranet_delete_topic', {'topic_id': topic.getId()}) }}">here</a> (can't be rollback!)
		</p>
		</blockquote>
		{% if topic.status == 'opened' %}
		<blockquote class="page-lock-zone hidden">
		<p>
			If you really want to CLOSE this topic please click <a href="{{ url('intranet_close_topic', {'topic_id': topic.getId()}) }}">here</a>
		</p>
		</blockquote>
		{% elseif topic.status == 'closed'%}
		<blockquote class="page-lock-zone hidden">
		<p>
			If you really want to OPEN this topic please click <a href="{{ url('intranet_open_topic', {'topic_id': topic.getId()}) }}">here</a>
		</p>
		</blockquote>
		{% endif %}
		{% endif %}
		<div>
		</div>

	</div>
	{% if ((topic.status == 'opened') or (topic.status == 'closed' and topic.getUserid() != 0 and (is_granted('ROLE_ADMIN') or topic.getUserid() == app.user.getId()))) %}
	<div class="panel panel-cascade">
		<div class="panel-heading">
    	    <h3 class="panel-title">
               	<span>
                   	<a href="#" class="panel-minimize">Add New Subtopic</a>
                </span>  
            </h3>
        </div>
        <div class="panel-body" style="{% if errorTopic is defined %}{{ 'display:block;' }}{% else %}{{ 'display:none;' }}{% endif %}">
        <form action="{{ url('intranet_add_topic', {topic_id: topic.getId()}) }}" class="form-horizontal" role="form" method="post">
        <div class="form-group">
        <label for="inputEmail1" class="col-lg-2 col-md-3 control-label">Topic Name</label>
        <div class="col-lg-10 col-md-9">
        	<input type="text" name="name" class="form-control form-cascade-control" id="inputEmail1" placeholder="Type topic name here" value="{% if nameTopic is defined %}{{ nameTopic }}{% endif %}" required>
        </div>
	</div>
    <div class="form-group">
    	<label for="inputEmail1" class="col-lg-2 col-md-3 control-label">Topic Description</label>
    	<div class="col-lg-10 col-md-9">
    		<input type="text" name="description" class="form-control form-cascade-control" id="inputEmail1" placeholder="Type topic description here" value="{% if descriptionTopic is defined %}{{ descriptionTopic }}{% endif %}" required>
    	</div>
    </div>
	<input type="hidden" value="{{ topic.getOfficeid() }}" name="officeid" />
	{% if errorTopic is defined %}
   		<div class="alert alert-danger">
			{{ errorTopic }}
   		</div>
    {% endif %}
    <div class="form-actions">
    	<input type="submit" value="Save New Topic" class="btn bg-primary btn-block text-white">
	</div>
   		</form>
    </div>
</div>
{% endif %}
</div>
</div>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		{% if subtopics|length > 0 %}

		{% endif %}
		<div class="panel panel-cascade" ng-controller="TasksController">
			<div class="panel-heading tooltips">
				<h3 class="panel-title">
                	<span>
                    	<a data-original-title="Filter tasks" data-placement="top" href="#" class="panel-minimize"><i class="fa fa-filter"></i> Tasks of this topic</a>
                    </span>
					<a data-original-title="Add new task" data-placement="top"><button type="button" class="btn btn-success" ng-click="addTask()"><i class="fa fa-plus-circle"></i></button></a>
				</h3>
			</div>
			<div class="panel-body" style="display:none;">
				<div class="form-group">
					<label for="inputEmail1" class="col-lg-2 col-md-3 control-label">Name</label>
					<div class="col-lg-10 col-md-9">
						<input type="text" ng-model="filter.name" class="form-control form-cascade-control" id="inputEmail1" placeholder="Type task name here" value="">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail1" class="col-lg-2 col-md-3 control-label">Status</label>
					<div class="col-lg-10 col-md-9">
						<select multiple ng-model="filter.status" class="form-control">
							{% for status in availableStatus %}
								<option value="{{ status.id }}">{{ status.label }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail1" class="col-lg-2 col-md-3 control-label">Priority</label>
					<div class="col-lg-10 col-md-9">
						<select multiple ng-model="filter.priority" class="form-control">
							<option value="high">High</option>
							<option value="medium">Medium</option>
							<option value="low">Low</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail1" class="col-lg-2 col-md-3 control-label">User</label>
					<div class="col-lg-10 col-md-9">
						<select multiple ng-model="filter.user" class="form-control">
							<option ng-repeat="user in users" value="[[user.id]]">[[ user.surname + ' ' + user.name + ' (' + user.username + ')' ]]</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail1" class="col-lg-2 col-md-3 control-label">Topic</label>
					<div class="col-lg-10 col-md-9">
						<select multiple ng-model="filter.topic" class="form-control">
							<option ng-repeat="topic in topics" value="[[topic.id]]" >[[topic.name]]</option>
						</select>
					</div>
				</div>
			</div>
			<div class="panel-body" ng-controller="SprintController">
				<table class="table users-table table-condensed table-hover" >
					<thead>
					<tr>
						<th class="visible-lg">#</th>
						<th class="visible-lg">Id</th>
						<th class="visible-lg" style="width: 450px">Name</th>
						<th class="visible-lg">Status</th>
						<th class="visible-lg">Priority</th>
						<th class="visible-lg">StartDate</th>
						<th class="visible-lg">EndDate</th>
						<th class="visible-lg">Estimated</th>
						<th class="visible-lg">Assigned</th>
						<th class="visible-lg">Parent</th>
						<th class="visible-lg">Sprint</th>
						<th class="visible-lg">Owner</th>
						<th>&nbsp;</th>
					</tr>
					</thead>
					<tbody ng-repeat="(i, task) in tasks">
					<tr>
						<td class="visible-lg">[[i+1]]</td>
						<td class="visible-lg">[[task.id]]</td>
						<td class="visible-lg">
							<div class="tooltips">
				            	<span class="clickable" ng-click="changeDrop(task)">
				            		<i ng-show="task.subtasks.length>0 && !task.dropped" class="fa fa-plus"></i>
				            		<i ng-show="task.subtasks.length>0 && task.dropped" class="fa fa-minus"></i>
				            	</span>
								<span ng-show="task.newCommentsCount>0" class="badge bg-danger">[[task.newCommentsCount]]</span>
								<a ng-click="editTask(task)" data-original-title="[[task.description]]" data-placement="top" href="#" >[[ task.name ]]</a>
							</div>
						</td>
						<td class="visible-lg">
							<label class="label" style="background-color: [[task.status.color]];">[[task.status.label]]</label>
						</td>
						<td class="visible-lg">
							<label ng-show="task.priority=='high'" class="label label-danger">High</label>
							<label ng-show="task.priority=='medium'" class="label label-warning">Medium</label>
							<label ng-show="task.priority=='low'" class="label label-success">Low</label>
						</td>
						<td class="visible-lg">[[ task.startdate.date ]]</td>
						<td class="visible-lg">[[ task.enddate.date ]]</td>
						<td class="visible-lg">[[ task.estimated | estimatedTime ]]</td>
						<td class="visible-lg">
							<span ng-show="task.user==null">-</span>
							<span ng-show="task.user!=null">[[task.user.surname + ' ' + task.user.name]]</span>
						</td>
						<td class="visible-lg">
							<span ng-show="task.topic==null">-</span>
							<span ng-show="task.topic!=null">[[task.topic.name]]</span>
						</td>
						<td class="visible-lg">[[ task.sprint.name ]]</td>
						<td class="visible-lg">[[ task.owner.name ]]</td>
						<td>
							<div class="tooltips">
								<a data-original-title="Add subtasks" data-placement="top" href="#"><button type="button" class="btn btn-primary btn-xs" ng-click="addTask(task)"><i class="fa fa-code-fork"></i></button></a>
								<a data-original-title="Delete task" data-placement="top" href="#"><button type="button" class="btn btn-danger btn-xs" ng-click="removeTask(task)"><i class="fa fa-trash-o"></i></button></a>
								<a data-original-title="Go to topic" data-placement="top" href="[[ task.hrefTopic ]]" ng-show="task.topicid != null" class="btn btn-info btn-xs"><i class="fa fa-mail-forward"></i></a>
								<a ng-click="addToSprint(task.id)" data-original-title="Add to Sprint" data-placement="top" href="#" class="btn btn-xs" style="border-color: #000088"><i class="fa fa-stack-overflow"></i></a>
							</div>
						</td>
					</tr>
					<tr ng-show="task.dropped == true" class="success" ng-repeat="subtask in task.subtasks">
						<td class="visible-lg">&nbsp;&nbsp;[[i+1]].[[$index+1]]</td>
						<td  class="visible-lg">[[subtask.id]]</td>
						<td class="visible-lg"><div class="tooltips"><a ng-click="editTask(subtask)" data-original-title="[[subtask.description]]" data-placement="top" href="#">[[ subtask.name ]]</a></div></td>
						<td class="visible-lg">
							<label class="label" style="background-color: [[subtask.status.color]];">[[subtask.status.label]]</label>
						</td>
						<td class="visible-lg">
							<label ng-show="subtask.priority=='high'" class="label label-danger">High</label>
							<label ng-show="subtask.priority=='medium'" class="label label-warning">Medium</label>
							<label ng-show="subtask.priority=='low'" class="label label-success">Low</label>
						</td>
						<td class="visible-lg">[[ subtask.startdate.date ]]</td>
						<td class="visible-lg">[[ subtask.enddate.date ]]</td>
						<td class="visible-lg">[[ subtask.estimated | estimatedTime]]</td>
						<td class="visible-lg">
							<span ng-show="subtask.user==null">-</span>
							<span ng-show="subtask.user!=null">[[subtask.user.surname + ' ' + subtask.user.name]]</span>
						</td>
						<td class="visible-lg">
							<span ng-show="subtask.topic==null">-</span>
							<span ng-show="subtask.topic!=null">[[subtask.topic.name]]</span>
						</td>
						<td class="visible-lg">[[ subtask.sprint.name ]]</td>
						<td class="visible-lg">[[ subtask.owner.name ]]</td>
						<td>
							<div class="tooltips">
								<a data-original-title="Delete subtask" data-placement="top" href="#"><button type="button" class="btn btn-danger btn-xs" ng-click="removeTask(subtask)"><i class="fa fa-trash-o"></i></button></a>
								<a data-original-title="Go to topic" data-placement="top" href="#" href="[[ subtask.hrefTopic ]]" ng-show="subtask.topicid != null" class="btn btn-info btn-xs"><i class="fa fa-mail-forward"></i></a>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="row chat-box" ng-controller="ChatController">
  							<div class="col-md-2">
  								<div class="panel panel-cascade contacts-box">
  									<div class="panel-heading">
  										<h5 class="panel-title "> <i class="fa fa-user"></i> Members</h5>
  									</div>
  									<div class="panel-body nopadding">
  										<div class="list-group contact">
  											<a class="list-group-item" ng-repeat="member in members">
  												<img src="[[avatarURL + member.avatar]]" class="chat-user-avatar" alt="">
  												[[member.username]]
  												<!-- <i class="fa fa-circle"></i> -->
  											</a>
  										</div>
  									</div>
  								</div>

  							</div>
  							
  							
  							<div class="col-md-10">
  								<div class="panel panel-cascade recipient-box">
									<div class="panel-body nopadding">
										<div class="row">
											<div class="col-md-8">
												<ul class="pagination" style="margin-left: 5px;">
													<li ng-class="{disabled: paginator.curPageId == 1}"><a href="#" ng-click="paginator.firstPage($event)">first</a></li>
													<li ng-class="{disabled: paginator.curPageId == 1}"><a href="#" ng-click="paginator.prevPage($event)">«</a></li>
													<li ng-class="{active: paginator.curPageId == item }" ng-repeat="item in paginator.pages"><a href="#" ng-click="paginator.toPage($event, item)">[[item]]</a></li>
													<li ng-class="{disabled: paginator.curPageId == paginator.countPages}"><a href="#" ng-click="paginator.nextPage($event)">&raquo;</a>
													<li ng-class="{disabled: paginator.curPageId == paginator.countPages}"><a href="#" ng-click="paginator.lastPage($event)">last</a></li></li>
												</ul>
											</div>
											
											<div class="col-md-4" style="margin: 20px 0;">
											<div  id='menu-block' style="position: absolute;left: 96%;">
            								<ul class='vertical-menu btn-block'style="width:40px">
            								<li class='drop-link' style="width:35px"><a href="#"style="background-color:#454140" ><img src="http://zectranet.com/bundles/intranet/images/win.png" style="width: 25px;margin-left: -3px;"></a>
            								<ul class='drop-block1'style="margin-right: 5px;">
            									<li  style="width:200px;background-color: #285e8e;"><a href="{{ url('intranet_add_topic_to_personal_page', {topic_id: topic.getId()} ) }}"><i class="fa fa-fw fa-windows" ></i>Add to new window </a></li>
                                                <li class="drop-link"style="width:200px;background-color: #285e8e;"><a href="#"><i class="fa fa-fw fa-plus-square"></i>Add new tab to existing window</a>
            									<ul class='drop-block1'style="margin-right: 5px">
            									{% for window in windows %}
            										<li class='drop-link' style="width:200px;background-color: #285e8e;"><a href="{{ url('intranet_add_topic_to_exist_window_personal_page', {topic_id: topic.getId(), window_id: window.getWindowid()} ) }}">{{window.getNamewindow()}}</a></li>
            									{% endfor %}
            									</ul>
            									</li>
                                                <li class="drop-link" style="width:200px;background-color: #285e8e;"><a href="#"><i class="fa fa-fw fa-list-alt"></i>Add new drop downdown to existing Tab</a>
                                                <ul class='drop-block1'style="margin-right: 5px;">
            									{% for window in windows %}
            										<li class='drop-link' style="width:200px;background-color: #285e8e;"><a href="{{ url('intranet_add_topic_to_dropdown', {topicId: topic.getId(), windowId: window.getWindowid()} ) }}">{{window.getNamewindow()}}</a></li>
            									{% endfor %}
            									</ul>
                                                </li>
            								</ul>
            								</li>
        									</ul>
        									</div>
												  <label for="inputEmail1" class="col-lg-5 col-md-3 control-label" style="margin-top: 7px; width: 0%;margin-left: 85px;">Messages/Page</label>
												  <div class="col-lg-5 col-md-9">
												   <select class="form-control" ng-model="postsPerPage" ng-change="changePostsPerPage()" style="width:52%; margin-left:137px">
												   	<option ng-repeat="item in paginator.postsPerPageValues">[[item]]</option>
												  </select>
												</div>
											</div>											
										</div>
									</div>
									
  									<div class="panel-body nopadding">
  										<div id="conversation" class="list-group conversation">
  											<div class="list-group-item" ng-repeat="post in posts">
  												<img src="[[avatarURL + post.user.avatar]]" class="chat-user-avatar" alt="" />
  												<span class="username" >[[post.user.name + ' ' + post.user.surname]] ([[post.user.username]])<span class="time">[[ post.posted.date ]]&nbsp;<span ng-show="isEditable(post)" ng-click="editPost(post)" class="badge bg-info pull-right editable"><i class="fa fa-pencil"></i></span></span> </span>
  												<i class="fa fa-edit" ng-show="post.edited"></i>
  												<p style="white-space: pre-line;" ng-bind-html="post.message"></p>
  											</div>
  										</div>
  										{% if topic.status != 'closed' %}
  										<div class="input-group tooltips">
  											<span class="input-group-btn">
  											<a data-original-title="File attachment" data-placement="top">
  												<button class="btn btn-success" ng-click="addDocuments()"><i class="fa fa-paperclip fa-2x"></i></button>
  											</a>
  											</span>
  											<textarea style="resize:vertical;" class="form-control write-message" ng-class="{editing: editingPost}" id="write-message" placeholder="Type something here and hit enter" ng-model="message" ng-keypress="pressEnter($event)"></textarea>
  											<span class="input-group-btn">
  												<button class="btn text-white bg-primary send-message" type="button" id="send-message" ng-click="sendPost()">Send</button>
  											</span>

  										</div><!-- /input-group -->
  										{% endif %}
  									</div>
  								</div>
  							</div>
  						</div>
  				</div>
	</div>
	</div>
	</div>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/intranet/js/custom/chat.js') }}"></script>
	<script src="{{ asset('bundles/intranet/js/custom/tasks.js') }}"></script>
	<script type="text/javascript">
	var USERS = {{ users|json_encode|raw }};
	var OFFICE_USERS = {{ officeUsers|json_encode|raw }};
	var TOPICS = {{ topicsForTasks|json_encode|raw }};
	var STATUSES = {{ availableStatus|json_encode|raw }};
    JSON_URLS.posts = "{{ path('intranet_post_topic_get_posts', {topic_id: topic.id}) }}";
    JSON_URLS.post_add = "{{ path('intranet_post_topic_add_post', {topic_id: topic.id}) }}";
    JSON_URLS.sendPrivateMsg = "{{ path('intranet_post_topic_send_private_msg', {topic_id: topic.id}) }}";
    JSON_URLS.avatar = "{{ app.request.getBaseURL() }}/../documents/";
    JSON_URLS.members = "{{ path('intranet_topic_members', {topic_id: topic.id}) }}";
    JSON_URLS.posts_new = "{{ path('intranet_post_topic_new', {topic_id: topic.id}) }}";
    JSON_URLS.post_count = "{{ path('intranet_post_topic_count', {topic_id: topic.id}) }}";
    JSON_URLS.tasksAdd = "{{ url('intranet_task_add', {office_id: topic.officeid}) }}";
    JSON_URLS.tasksGet = "{{ path('intranet_task_get_for_topic', {topic_id: topic.id}) }}";
    JSON_URLS.tasksEdit = "{{ path('intranet_task_edit', {task_id: 0}) }}";
    JSON_URLS.tasksRemove = "{{ path('intranet_task_remove', {task_id: 0}) }}";
    JSON_URLS.topicsShow = "{{ path('intranet_show_topic', {topic_id: 0}) }}";
    JSON_URLS.urlsPostsTaskShow = "{{ path('intranet_post_task_show', {task_id: 0}) }}";
	JSON_URLS.urlsPostsTaskGet = "{{ path('intranet_post_task_get', {task_id: 0}) }}";
	JSON_URLS.urlsPostsTaskAdd = "{{ path('intranet_post_task_add', {task_id: 0}) }}";
	JSON_URLS.urlsResetCommentsCount = "{{ path('intranet_task_resetNewCommentsCount', {task_id: 0}) }}";
	JSON_URLS.documentsAdd = "{{ path('intranet_document_dialog_add') }}";
	JSON_URLS.documentsGet = "{{ path('intranet_document_get') }}";
	JSON_URLS.uploaderSWF = '../../../bundles/intranet/swf/uploadify.swf';
	JSON_URLS.uploaderUpload = "{{ path('intranet_document_upload') }}";
	JSON_URLS.baseUrl = "{{ app.request.getBaseURL() }}/../";
	
    var USER = {
    	    id: "{{ app.user.getId() }}"
   	};

   	var ENTITY = {
   		   	id: "{{ topic.id }}",
			type: "topic"
    };
   	
   	var TASKS_NOTIFICATIONS = [];
   	
   	var MESSAGE_TOPIC = "{{ message }}";
   	(function(){
   	if(MESSAGE_TOPIC == 1)
		alert("This topic allready added!");
	})();
	</script>
{% endblock %}
