
{% set children = topic.getChildrenForOffice(em, office, app.user.userSettings.showHiddenTopics) %}
{#{% if topic.getTasksCount() > 0 or children|length > 0 %}#}
<li class='drop-link {% if topic.status == "closed" %}closed{% else %} active {% endif %} '>
    <a href="{{ url('intranet_show_topic', {topic_id: topic.getId()}) }}">
        {{topic.name}}
        {% if (children|length > 0 ) %}
            <i class="fa fa-chevron-right right"></i>
        {% else %}
            {% if topic.getTasksCount() > 0 %}
                <span class="badge bg-danger right">{{ topic.getTasksCount() }}</span>
            {% endif %}
        {% endif %}
        {% if topic.status == 'closed' %}
            <i class="fa fa-warning right"></i>
        {% endif %}



    </a>
    {% if topic.getTasks()|length > 0 %}
    <ul class="drop-block" style="display: block !important;">
        {% for task in topic.getTasks() %}
            <div class="row" style="margin-left: 5px">
                <li style="all: unset;"><a href="#" style="all: unset">
                        {% if topic.getTasks()|length > 1 %} * {% endif %} {{ task.getUserStory() }}
                    </a></li>
            </div>
        {% endfor %}
    </ul>
    {% endif %}
		{% if ( children|length > 0 ) %}
		<ul class='drop-block active'>
        {% for child in children %}
			{{include(
         		'IntranetMainBundle:Topic:showTopicMenuTree.html.twig',
           		{ 'topic': child }
        	)}}
        {% endfor %}
        </ul>
        {% endif %}
		</li>
{#{% endif %}#}