{% extends 'IntranetMainBundle:Index:index.html.twig' %}

{% block title %}{{ topic.name }}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
	{% for item in breadcrumbs %}
		<li><a href="{{ url('intranet_show_topic', {topic_id: item.getId()}) }}">{{ item.name }}</a></li>
	{% endfor %}
	<li class="active">{{ topic.name }}</li>
</ul>
{% endblock %}

{% block search %}
<div class="form-group hiddn-minibar pull-right">
	<input type="text" class="form-control form-cascade-control nav-input-search" size="20" placeholder="Search through discussion" />

	<span class="input-icon fui-search"></span>
</div>
{% endblock %}

{% block pageheader %}
<div class="row">
	<div class="col-md-12">
		<h3 class="page-header"><i class="fa fa-comment"></i> {{ topic.name }} <i class="fa fa-info-circle animated bounceInDown show-info"></i> </h3>

		<blockquote class="page-information hidden">
		<p>
			{{ topic.description }}
		</p>
		</blockquote>
	
		<div class="panel panel-cascade">
			<div class="panel-heading">
                <h3 class="panel-title">
                 Add New Subtopic
                 <span class="pull-right">
                  <a  href="#" class="panel-minimize"><i class="fa fa-chevron-down"></i></a>
                </span>
              </h3>
            </div>
            <div class="panel-body" style="{% if error is defined %}{{ 'display:block;' }}{% else %}{{ 'display:none;' }}{% endif %}">
            	<form action="{{ url('intranet_add_topic', {topic_id: topic.getId()}) }}" class="form-horizontal" role="form" method="post">
            		<div class="form-group">
                		<label for="inputEmail1" class="col-lg-2 col-md-3 control-label">Topic Name</label>
                		<div class="col-lg-10 col-md-9">
                 			<input type="text" name="name" class="form-control form-cascade-control" id="inputEmail1" placeholder="Type topic name here" value="{% if name is defined %}{{ name }}{% endif %}" required>
               			</div>
             		</div>
             		<div class="form-group">
                		<label for="inputEmail1" class="col-lg-2 col-md-3 control-label">Topic Description</label>
                		<div class="col-lg-10 col-md-9">
                 			<input type="text" name="description" class="form-control form-cascade-control" id="inputEmail1" placeholder="Type topic description here" value="{% if description is defined %}{{ description }}{% endif %}" required>
               			</div>
             		</div>
             		<div class="form-group">
  						<label for="inputEmail1" class="col-lg-2 col-md-3 control-label">Select office</label>
  						<div class="col-lg-10 col-md-9">
   							<select name="officeid" class="form-control">
							    {% for office in offices %}
							    <option value="{{ office.id }}">{{ office.name }}</option>
							    {% endfor %}
  							</select>
						</div>
					</div>
             		{% if error is defined %}
             		<div class="alert alert-danger">
               			{{ error }}
             		</div>
             		{% endif %}
             		<div class="form-actions">
             			<input type="submit" value="Save New Topic" class="btn bg-primary btn-block text-white">
             		</div>
            	</form>
            </div>
		</div>
		{% if subtopics|length > 0 %}
		<div class="panel panel-cascade">
			<div class="panel-heading">
                <h3 class="panel-title">
                 Subtopics
                 <span class="pull-right">
                  <a  href="#" class="panel-minimize"><i class="fa fa-chevron-down"></i></a>
                </span>
              </h3>
            </div>
            <div class="panel-body" style="display:none;">
            	{% for topic in subtopics %}
            		<a href="{{ url('intranet_show_topic', {topic_id: topic.getId()}) }}" class="btn btn-primary btn-block">{{ topic.name }} ({{ topic.getOffice().name }})</a>
            	{% endfor %}
            	
            </div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block content %}
<div class="row chat-box" ng-app="Intranet" ng-controller="ChatController">
  							<div class="col-md-2">
  								<div class="panel panel-cascade contacts-box">
  									<div class="panel-heading">
  										<h5 class="panel-title "> <i class="fa fa-user"></i> Members</h5>
  									</div>
  									<div class="panel-body nopadding">
  										<div class="list-group contact">
  											<a class="list-group-item" ng-repeat="member in members">
  												<img src="[[avatarURL + member.avatar]]" class="chat-user-avatar" alt="">
  												[[member.username]]
  												<!-- <i class="fa fa-circle"></i> -->
  											</a>
  										</div>
  									</div>
  								</div>

  							</div>
  							
  							
  							<div class="col-md-10">
  								<div class="panel panel-cascade recipient-box">
									<div class="panel-body nopadding">
										<div class="row">
											<div class="col-md-8">
												<ul class="pagination" style="margin-left: 5px;">
													<li ng-class="{disabled: paginator.curPageId == 1}"><a href="#" ng-click="paginator.firstPage($event)">first</a></li>
													<li ng-class="{disabled: paginator.curPageId == 1}"><a href="#" ng-click="paginator.prevPage($event)">«</a></li>
													<li ng-class="{active: paginator.curPageId == item }" ng-repeat="item in paginator.pages"><a href="#" ng-click="paginator.toPage($event, item)">[[item]]</a></li>
													<li ng-class="{disabled: paginator.curPageId == paginator.countPages}"><a href="#" ng-click="paginator.nextPage($event)">&raquo;</a>
													<li ng-class="{disabled: paginator.curPageId == paginator.countPages}"><a href="#" ng-click="paginator.lastPage($event)">last</a></li></li>
												</ul>
											</div>
											
											<div class="col-md-4" style="margin: 20px 0;">
												  <label for="inputEmail1" class="col-lg-5 col-md-3 control-label" style="margin-top: 7px;">Messages/Page</label>
												  <div class="col-lg-5 col-md-9">
												   <select class="form-control" ng-model="postsPerPage" ng-change="changePostsPerPage()">
												   	<option ng-repeat="item in paginator.postsPerPageValues">[[item]]</option>
												  </select>
												</div>
											</div>
											
										</div>
									</div>
									
  									<div class="panel-body nopadding">
  										<div class="list-group conversation">
  											<a class="list-group-item" ng-repeat="post in posts">
  												<img src="[[avatarURL + post.user.avatar]]" class="chat-user-avatar" alt="" />
  												<span class="username" >[[post.user.name + ' ' + post.user.surname]] ([[post.user.username]])<span class="time">[[ post.posted.date ]]</span> </span>
  												<p>[[post.message]]</p>
  											</a>
  										</div>
  										<div class="input-group">
  											<input type="text" class="form-control write-message" id="write-message" placeholder="Type something here and hit enter" ng-model="message" ng-keypress="pressEnter()">
  											<span class="input-group-btn">
  												<button class="btn text-white bg-primary" type="button" id="send-message" ng-click="sendPost()">Send</button>
  											</span>

  										</div><!-- /input-group -->

  									</div>
  								</div>
  							</div>
  						</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/intranet/js/angular.min.js') }}"></script>
	<script src="{{ asset('bundles/intranet/js/underscore-min.js') }}"></script>
	
	<script src="{{ asset('bundles/intranet/js/custom/chat.js') }}"></script>
	
	<script type="text/javascript">
    var JSON_URLS = {
        posts: "{{ path('intranet_post_get_posts', {topic_id: topic.id}) }}",
        post_add: "{{ path('intranet_post_add_post', {topic_id: topic.id}) }}", 
        avatar: "{{ asset('bundles/intranet/images/profiles/') }}",
        topic_members: "{{ path('intranet_topic_members', {topic_id: topic.id}) }}",
        posts_new: "{{ path('intranet_post_new', {topic_id: topic.id}) }}",
        post_count: "{{ path('intranet_post_count', {topic_id: topic.id}) }}"
    };

    var USER = {
    	    id: "{{ app.user.getId() }}"
   	};

   	var TOPIC = {
   		   	id: "{{ topic.id }}"
    };
</script>
{% endblock %}
