{% extends 'IntranetMainBundle:Index:index.html.twig' %}

{% block title %}My offices{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
	{% for item in breadcrumbs %}
		<li><a href="{{ url('intranet_show_office', {office_id: item.getId()}) }}">{{ item.name }}</a></li>
	{% endfor %}
	<li class="active">{{ office.name }}</li>
</ul>
{% endblock %}

{% block pageheader %}
<div class="row">
	<div class="col-md-12">
		<h3 class="page-header"><i class="fa fa-sitemap"></i> {{ office.name }} <i class="fa fa-info-circle animated bounceInDown show-info"></i> {% if (office.getUserid() != 0 or office.getUserid() == app.user.getId()) %}<i class="fa fa-times-circle animated bounceInDown show-danger"></i>{% endif %} </h3>

		<blockquote class="page-information hidden">
		<p>
			{{ office.description }}
		</p>
		</blockquote>
		{% if (office.getUserid() != 0 or office.getUserid() == app.user.getId()) %}
		<blockquote class="page-danger-zone hidden">
		<p>
			If you really want to delete this office please click <a href="{{ url('intranet_delete_office', {office_id: office.getId()}) }}">here</a> (can't be rollback!)
		</p>
		</blockquote>
		{% endif %}
		{% if (office.getUserid() == 0 or office.getUserid() == app.user.getId()) %}
		<div class="panel panel-cascade">
			<div class="panel-heading">
                <h3 class="panel-title">
                	<span>
                    	<a href="#" class="panel-minimize">Add New Local Office</a>
                    </span>
                </h3>
            </div>
            <div class="panel-body" style="{% if error is defined %}{{ 'display:block;' }}{% else %}{{ 'display:none;' }}{% endif %}">
            	<form action="{{ url('intranet_add_office', {office_id: office.getId()}) }}" class="form-horizontal" role="form" method="post">
            		<div class="form-group">
                		<label for="inputEmail1" class="col-lg-2 col-md-3 control-label">Office Name</label>
                		<div class="col-lg-10 col-md-9">
                 			<input type="text" name="name" class="form-control form-cascade-control" id="inputEmail1" placeholder="Type office name here" value="{% if name is defined %}{{ name }}{% endif %}" required>
               			</div>
             		</div>
             		<div class="form-group">
                		<label for="inputEmail1" class="col-lg-2 col-md-3 control-label">Office Description</label>
                		<div class="col-lg-10 col-md-9">
                 			<input type="text" name="description" class="form-control form-cascade-control" id="inputEmail1" placeholder="Type office description here" value="{% if description is defined %}{{ description }}{% endif %}" required>
               			</div>
             		</div>
             		<div class="form-group">
  						<label for="inputEmail1" class="col-lg-2 col-md-3 control-label">Select members</label>
  						<div class="col-lg-10 col-md-9">
   							<select name="members[]" multiple class="form-control">
   								{% for user in users %}
            						<option value="{{ user.id }}">{{ user.surname }} {{ user.name }} ({{ user.username }})</option>
            					{% endfor %}
  							</select>
						</div>
					</div>
             		
             		{% if error is defined %}
             		<div class="alert alert-danger">
               			{{ error }}
             		</div>
             		{% endif %}
             		<div class="form-actions">
             			<input type="submit" value="Save New Office" class="btn bg-primary btn-block text-white">
             		</div>
            	</form>
            </div>
		</div>
		{% endif %}
		{% if offices|length > 0 %}
		<div class="panel panel-cascade">
			<div class="panel-heading">
                <h3 class="panel-title">
                 	<span>
                    	<a href="#" class="panel-minimize">Offices in which you are</a>
                    </span>
                </h3>
            </div>
            <div class="panel-body" style="display:none;">
            	{% for office in offices %}
            		<a href="{{ url('intranet_show_office', {office_id: office.getId()}) }}" class="btn btn-primary btn-block">{{ office.name }}{% if app.user.getId() == office.getUserid() %} (You are owner){% endif %}</a>
            	{% endfor %}
            	
            </div>
		</div>
		{% endif %}
		<div class="panel panel-cascade" ng-app="Intranet" ng-controller="ChooseSelectController">
			<div class="panel-heading">
                <h3 class="panel-title">
                	<span>
                    	<a href="#" class="panel-minimize">Members of this office</a>
                    </span>
                </h3>
            </div>
            <div class="panel-body" style="{% if errorMembers is defined %}{{ 'display:block;' }}{% else %}{{ 'display:none;' }}{% endif %}">
            	<form action="{{ url('intranet_change_office_members', {office_id: office.getId()}) }}" class="form-horizontal" role="form" method="post">
	            	<div class="form-group">
	            		<label for="inputEmail1" class="col-lg-1 col-md-3 control-label">Members</label>
	  					<div class="col-lg-11 col-md-9">
	   						<select id="officeUsersList" name="members[]" multiple class="form-control">
	   							<option ng-repeat="user in officeUsers" value="[[ user.id ]]">[[ user.surname ]] [[ user.name ]] ([[ user.username ]])</option>
	  						</select>
						</div>
					</div>
					{% if (office.getUserid() != 0  and office.getUserid() == app.user.getId() ) %}
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-1 col-md-3 control-label">&nbsp;</label>
						<div class="col-lg-11 col-md-9">
							<div class="col-md-6">
								<a ng-click="removeFromMembers($event)" href="#" class="btn btn-primary btn-block"><i class="fa fa-chevron-circle-down"></i></a>
							</div>
							<div class="col-md-6">
								<a ng-click="addToMembers($event)" href="#" class="btn btn-primary btn-block"><i class="fa fa-chevron-circle-up"></i></a>
							</div>
						</div>
					</div>
					<div class="form-group">
	            		<label for="inputEmail1" class="col-lg-1 col-md-3 control-label">Available Members</label>
	  					<div class="col-lg-11 col-md-9">
	   						<select id="usersList" multiple class="form-control">
	            					<option ng-repeat="user in users" value="[[ user.id ]]">[[ user.surname ]] [[ user.name ]] ([[ user.username ]])</option>
	  						</select>
						</div>
					</div>
					{% if errorMembers is defined %}
             		<div class="alert alert-danger">
               			{{ errorMembers }}
             		</div>
             		{% endif %}
					<div class="form-actions">
	             		<input type="submit" value="Save Members" class="btn bg-primary btn-block text-white" ng-click="makeAllSelected()">
	             	</div>
	             	{% endif %}
	             </form>
            </div>
		</div>
		{% if office.getTopics()|length > 0 %}
		<div class="panel panel-cascade">
			<div class="panel-heading">
                <h3 class="panel-title">
                	<span>
                    	<a href="#" class="panel-minimize">Topics of this office</a>
                    </span> 
                </h3>
            </div>
            <div class="panel-body" style="display:none;">
            	{% for topic in office.getTopics() %}
            		<a href="{{ url('intranet_show_topic', {topic_id: topic.getId()}) }}" class="btn btn-primary btn-block">{{ topic.name }}</a>
            	{% endfor %}
            </div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block content %}

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/intranet/js/angular.min.js') }}"></script>
	<script src="{{ asset('bundles/intranet/js/underscore-min.js') }}"></script>
	<script src="{{ asset('bundles/intranet/js/custom/choose-select.js') }}"></script>
	<script type="text/javascript">
	var USERS = {{ users|json_encode|raw }};
	var OFFICE_USERS = {{ officeUsers|json_encode|raw }};
	</script>
{% endblock %}
