{% extends 'IntranetMainBundle::layout.html.twig' %}

{% block title %}Security area{% endblock %}

{% block libraries %}
{% endblock %}
{% block styles %}
	{{ parent() }}
  	<!-- Loading Stylesheets -->    
  	<link href="{{ asset('bundles/intranet/css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="list-group side-menu ">
	<a class="list-group-item" href="#login">Login</a>
	<a class="list-group-item" href="#register">Register</a>
	<a class="list-group-item" href="#forgot-password">Forgot Password?</a>
</div>


      
   <section id="login">
    <div class="row animated fadeILeftBig">
     <div class="login-holder col-md-6 col-md-offset-3">
       <h2 class="page-header text-center text-primary"> Welcome to Intranet </h2>
       <form role="form" action="{{ path('intranet_security_login_check') }}" method="post">
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter username/email" name="_username" value="{{ last_username }}">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="_password">
        </div>
        {% if error %}
        <div class="alert alert-danger">
		{{ error.message }}
		</div>
		{% endif %}
        <div class="form-footer">
          <label>
            <input type="checkbox" class="hidden" id="input-checkbox" value="0" >  <i class="fa fa-check-square-o input-checkbox fa-square-o"></i> Remember me?
          </label>
          <label>
            <input type="checkbox" class="hidden" id="input-checkbox" value="0" >  <i class="fa fa-check-square-o input-checkbox fa-square-o"></i> Forgot Password?
          </label>
          <button type="submit" class="btn btn-info pull-right btn-submit">Login</button>
        </div>

      </form>
    </div>
  </div>
</section>
<section id="register">
  <div class="row animated fadeILeftBig">
   <div class="login-holder col-md-6 col-md-offset-3">
     <h2 class="page-header text-center text-primary"> Welcome to Intranet </h2>
     <form role="form" action="{{ url('intranet_register') }}" method="post">
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" name="name" value="{% if register_user %}{{ register_user.name }}{% endif %}" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Surname" name="surname" value="{% if register_user %}{{ register_user.surname }}{% endif %}" required>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="email" name="email" value="{% if register_user %}{{ register_user.email }}{% endif %}" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="username" name="username" value="{% if register_user %}{{ register_user.username }}{% endif %}" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" value="{% if register_user %}{{ register_user.password }}{% endif %}" required>
      </div>
      {% if register_error %}
        <div class="alert alert-danger">
			{{ register_error }}
		</div>
	  {% endif %}
	  <div class="form-group">
        <input type="file" name="avatar">
      </div>
      <div class="form-footer">
        <label>
          <input type="checkbox" class="hidden" id="input-checkbox" value="0" >  <i class="fa fa-check-square-o input-checkbox fa-square-o"></i> I agree to the Terms &amp; Conditions
        </label>
        <input type="submit" class="btn btn-info pull-right btn-submit" value="Register">
      </div>
    </form>
  </div>
</div>
</section>
<section id="forgot-password">
  <div class="row animated fadeILeftBig">
   <div class="login-holder col-md-6 col-md-offset-3">
     <h2 class="page-header text-center text-primary"> Welcome to Intranet </h2>
     <form role="form" action="http://bootstrapguru.com/preview/cascade/index.php" method="post">
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Username / Email">
      </div>
      <div class="form-footer">
        
        <button type="submit" class="btn btn-info pull-right btn-submit">Send Instructions</button>
      </div>
    </form>
  </div>
</div>
</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	
	<script src="{{ asset('bundles/intranet/js/scroll.js') }}"></script>
	<script src="{{ asset('bundles/intranet/js/jquery.panelSnap.js') }}"></script>
	<script src="{{ asset('bundles/intranet/js/login.js') }}"></script>
{% endblock %}