<div class="modal-body">
            	<form action="#" class="form-horizontal" role="form" method="post">
            		{% if parentTask is defined %}<h3>SubTusk for {{ parentTask.name }}</h3>{% endif %}
            		
            		<div class="form-group">
                		<label for="inputEmail1" class="col-lg-2 col-md-3 control-label">Name</label>
                		<div class="col-lg-10 col-md-9">
                 			<input type="text" ng-model="task.name" class="form-control form-cascade-control" id="inputEmail1" placeholder="Type task name here" required>
               			</div>
             		</div>
             		<div class="form-group">
						  <label for="inputEmail1" class="col-lg-2 col-md-3 control-label">Priority</label>
						  <div class="col-lg-10 col-md-9">
						   <select ng-model="task.priority" class="form-control" required>
						    <option value="high">High</option>
						    <option value="medium">Medium</option>
						    <option value="low">Low</option>
						   </select>
						  </div>
					</div>
					<div class="form-group">
						  <label for="inputEmail1" class="col-lg-2 col-md-3 control-label">Status</label>
						  <div class="col-lg-10 col-md-9">
						   <select ng-model="task.statusid" class="form-control">
						   	{% for taskStatus in taskStatuses %}
						    <option value="{{ taskStatus.id }}" {% if loop.first %}selected{% endif %}>{{ taskStatus.label }}</option>
						    {% endfor %}
						   </select>
						  </div>
					</div>
             		<div class="form-group">
  						<label for="inputEmail1" class="col-lg-2 col-md-3 control-label">Assigned</label>
  						<div class="col-lg-10 col-md-9">
   							<select ng-model="task.userid" class="form-control">
   								<option value="null">--- No assigned ---</option>
   								<option ng-repeat="user in users" value="[[ user.id ]]">[[ user.surname + ' ' + user.name + ' (' + user.username + ')' ]]</option>
  							</select>
						</div>
					</div>
					
					<div class="form-group">
  						<label for="inputEmail1" class="col-lg-2 col-md-3 control-label">Topics</label>
  						<div class="col-lg-10 col-md-9">
   							<select ng-model="task.topics" multiple class="form-control">
   								{% for topic in topics %}
   								<option value="{{ topic.id }}">{{ topic.name }}</option>
   								{% endfor %}
  							</select>
						</div>
					</div>
					
             		<div class="form-actions">
             			<input type="submit" value="Save New {% if parentTask is defined %}{{ 'Sub' }}{% endif %}Task" class="btn bg-primary btn-block text-white" ng-click="addTask($event)">
             		</div>
            	</form>
</div>