{% extends 'IntranetMainBundle:Index:index.html.twig' %}

{% block title %}Task Activity Logs{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
	<li class="active">Task Activity Logs</li>
</ul>
{% endblock %}

{% block pageheader %}
<div ng-app="Intranet" class="row">
	<div class="col-md-12">
		<h3 class="page-header"><i class="fa fa-exclamation-triangle animated slide"></i>Task Activity Logs (for testing...) <i class="fa fa-info-circle animated bounceInDown show-info"></i></h3>

		<blockquote class="page-information hidden">
		<p>
			Here you can view task activity on Intranet...
		</p>
		</blockquote>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="panel-body" ng-controller="LogsController">
	          <table class="table users-table table-condensed table-hover" >
	           <thead>
	           		<tr>
			             <th  class="visible-lg">ID</th>
			             <th  class="visible-lg">User</th>
			             <th class="visible-lg">Task</th>
			             <th class="visible-lg">Resource</th>
			             <th class="visible-lg">Type</th>
			             <th class="visible-lg">Loged</th>
	           		</tr>
	           </thead>
	           <tbody>
	           {% for log in logs %}
	           <tr>
			   		<td class="visible-lg">{{ log.getId() }}</td>
		            <td class="visible-lg">{{ log.getUser().getSurname() ~ ' ' ~ log.getUser().getName() ~ ' (' ~ log.getUserid() ~ ')' }}</td>
		            <td class="visible-lg">{% if log.task != null %}{{ log.task.getName() }}{% endif %}{{ ' (' ~ log.getTaskid() ~ ')' }}</td>
		            
		            <td class="visible-lg">{{ log.displayLabel ~ ' (' ~ log.getResourceid() ~ ')' }}</td>
		            
		            <td class="visible-lg">{{ log.getType() }}</td>
		            <td class="visible-lg">{{ log.getLoged()|date('Y-m-d H:i:s') }}</td>
	           </tr>
	           {% endfor %}
			  </tbody>
			</table>
		  </div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/intranet/js/custom/logs.js') }}"></script>
{% endblock %}
